@page
@model QuickZip.Pages.UserCreationModel
@{
    ViewData["Title"] = "UserCreation";
}
<script>
    var columnDefs = [
        { headerName: "Sr. No.", field: "srno", sortable: true },
        { headerName: "User Name", field: "user", sortable: true },
        { headerName: "Email Address", field: "email", sortable: true },
        { headerName: "Contact No.", field: "contact", sortable: true },
        { headerName: "Status", field: "status", sortable: true }
    ];

    var rowData = [
        { srno: "1", user: "User 01", email: "user001@gmail.com", contact: "9876543210", status: "Inactive" },
        { srno: "2", user: "User 02", email: "user002@gmail.com", contact: "9876543210", status: "Active" },
        { srno: "3", user: "User 03", email: "user003@gmail.com", contact: "9876543210", status: "Inactive" },
        { srno: "4", user: "User 04", email: "user004@gmail.com", contact: "9876543210", status: "Active" },
        { srno: "5", user: "User 05", email: "user005@gmail.com", contact: "9876543210", status: "Active" },
    ];

    var gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData,
        pagination: true
    };

    document.addEventListener('DOMContentLoaded', function () {
        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    });
</script>

<div class="main-content maincontainer">
    <div class="content">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                <span class="legal"></span>

            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content">
                        <li>
                            <i class="fa fa-file-excel-o" aria-hidden="true" title="Export to Excel"></i>
                            <label>
                                Export to Excel
                            </label>
                        </li>
                        <li data-toggle="modal" data-target="#userForm">
                            <i class="fa fa-plus" aria-hidden="true" title="New"></i>
                            <label>
                                New
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 tableDiv" id="tbldiv">
            <div class="filter">
                <input type="text" placeholder="Search" id="txtSearch" />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>



            <div id="myGrid" style="height: 510px; width:100%;" class="ag-theme-alpine"></div>
            @*<div class="paginationDiv">
                    <span class="previousBtn" >Previous</span>
                    <span class="paginationCount" >5 Out of 100</span>
                    <span class="nextBtn" >Next</span>
                </div>*@

        </div>

    </div>
</div>

<div class="modal right fade" id="userForm" tabindex="-1" role="dialog" aria-labelledby="userForm" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <button type="button" class="closeDiv" data-dismiss="modal">&times;</button>


            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
                    <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                        <h4 class="pageTitle">
                            Create User
                        </h4>

                    </div>
                    <div class="rightmenu">
                        <div class="toolbar pull-right">

                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 divForm" id="divForm" >
                    <form>


                        <div class="row no-padding mt-2">
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            User Name:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                            <input type="text" name="UserName" maxlength="30" id="UserName" class="col-sm-12 col-md-12 col-xs-12" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Phone Number:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                            <input type="text" name="phoneno" class="col-sm-12 col-md-12 col-xs-12" minlength="10" maxlength="10" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Email ID:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                            <input type="text" id="EmailId" name="EmailId" class="col-sm-12 col-md-12 col-xs-12" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Utility Code:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                           <select class="withbankdrp col-sm-12 col-md-12 col-xs-12">
                                                    <option selected="" value="">Select</option>
                                                    <option>option 1</option>
                                                    </select>
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Sponsor Bank Code:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                            <select class="withbankdrp col-sm-12 col-md-12 col-xs-12">
                                                <option selected="" value="">Select</option>
                                                <option>option 1</option>
                                            </select>

                                        </div>
                                        </div>
                                    </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Category Code:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                             <select class="withbankdrp col-sm-12 col-md-12 col-xs-12">
                                                     <option selected="" value="">Select</option>
                                                     <option>option 1</option>
                                                     </select>
                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Client Code:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                             <select class="withbankdrp col-sm-12 col-md-12 col-xs-12">
                                                     <option selected="" value="">Select</option>
                                                     <option>option 1</option>
                                                     </select>
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-5 col-md-5 col-xs-5 control-label no-padding" for="form-field-1">
                                            Region:
                                        </label>
                                        <div class="col-sm-7 col-md-7 col-xs-7 no-padding displayinlineblock">
                                            <select class="withbankdrp col-sm-12 col-md-12 col-xs-12">
                                                <option value="">Select</option>
                                                <option> Region 1 </option>
                                                <option> Region 2 </option>
                                                <option> Region 3 </option>
                                                <option> Region 4 </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-5 col-md-5 col-xs-7 control-label no-padding" for="form-field-1">
                                            Product:
                                        </label>
                                        <div class="col-sm-7 col-md-7 col-xs-7 no-padding displayinlineblock">
                                            <select class="withbankdrp col-sm-12 col-md-12 col-xs-12">
                                                <option value="">Select</option>
                                                <option>Product 1</option>
                                                <option>Product 2</option>
                                                <option>Product 3</option>

                                            </select>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Primary Branch:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                            <select class="withbankdrp col-sm-12 col-md-12 col-xs-12">
                                                <option value="">Select</option>
                                                <option>Branch 1</option>
                                                <option>Branch 2</option>
                                                <option>Branch 3</option>
                                                <option>Branch 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Secondary Branches:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock multiDrop">
                                            <select class="withbankdrp col-sm-12 col-md-12 col-xs-12">
                                                <option selected="" value="">Select</option>
                                                <option>Branch 1</option>
                                                <option>Branch 2</option>
                                                <option>Branch 3</option>
                                                <option>Branch 4</option>
                                            </select>
                                         
                                     
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-6 control-label no-padding" for="form-field-1">
                                            No. for edit for one Mandate:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                            <input type="text" name="editcount" maxlength="3" class="col-sm-12 col-md-12 col-xs-12" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row no-padding">
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Physical:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                            <select class="col-sm-12 col-md-12 col-xs-12">
                                                <option selected="" value="">Select</option>
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                                E Mandate:
                                            </label>
                                            <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                                <select class="col-sm-12 col-md-12 col-xs-12">
                                                    <option selected="" value="">Select</option>
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-12 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                        Mobile User
                                                </label>
                                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                    <input type="text"  class="col-sm-12 col-md-12 col-xs-12" />
                                                </div>
                                            </div>
                                        </div> -->




                                </div>
                                <!-- <div class="col-md-12 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                    Mobile User
                                            </label>
                                            <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                <input type="text"  class="col-sm-12 col-md-12 col-xs-12" />
                                            </div>
                                        </div>
                                    </div> -->




                            </div>
                        </div>

                        <div class="row no-padding">
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Debit Presentation:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                            <select class="col-sm-12 col-md-12 col-xs-12">
                                                <option selected="" value="">Select</option>
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-12 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                    Mobile User
                                            </label>
                                            <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                <input type="text"  class="col-sm-12 col-md-12 col-xs-12" />
                                            </div>
                                        </div>
                                    </div> -->




                            </div>
                        </div>
                        <div class="row no-padding">
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Account Validation:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                            <select class="col-sm-12 col-md-12 col-xs-12">
                                                <option selected="" value="">Select</option>
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                        <div class="row no-padding">
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Aadhar Based Mandate:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                            <select class="col-sm-12 col-md-12 col-xs-12">
                                                <option selected="" value="">Select</option>
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>





                            </div>
                        </div>
                        <div class="row no-padding">
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Direct Debit Mandate:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                            <select class="col-sm-12 col-md-12 col-xs-12">
                                                <option selected="" value="">Select</option>
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-12 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-6 col-md-5 col-xs-4 control-label no-padding" for="form-field-1">
                                                    Mobile User
                                            </label>
                                            <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                                <input type="text"  class="col-sm-12 col-md-12 col-xs-12" />
                                            </div>
                                        </div>
                                    </div> -->

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Active:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                            <input type="checkbox" name="chkactive" />
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row no-padding">
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-md-5 col-xs-12 control-label no-padding" for="form-field-1">
                                            Can Cancelled:
                                        </label>
                                        <div class="col-sm-12 col-md-7 col-xs-12 no-padding displayinlineblock">
                                            <select class="col-sm-12 col-md-12 col-xs-12">
                                                <option selected="" value="">Select</option>
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>





                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">

                <a href="BankRoles" target="_blank" class="btn btn-success">Assign Roles</a>
                <button type="button" class="btn btn-success"> Refresh</button>
                <button type="button" class="btn btn-success">Edit</button>

                <button type="button" class="btn btn-success">Update</button>
                <button type="button" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-success"> Cancel</button>

            </div>



        </div>

    </div>
</div>
