@page
@model ForgetPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forget Password</title>

    <link rel="stylesheet" href="~/css/login.css">

    <style>
        .copyRight {
            display: inline-block;
            padding-top: 4px;
        }
        .footer-inner {
            background: #fff;
            color: #000;
            height: 25px;
            text-align: center;
            position: absolute;
            z-index: auto;
            left: 0;
            right: 0;
            bottom: 0px;
            padding: 0% 0 0.5% 0;
            box-shadow: 1px 0px 2px 1px #dddfe2;
        }
        .forgotCon {
            background-image: url('../images/backimage1.png');
          
            height: 800px;
            width: 100%;
            overflow: hidden;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .loginBack {
            position: absolute;
            right: 5px;
            top: 0px;
            cursor: pointer;
            font-size: 12px;
            display: block;
            color: #073e78;
            font-weight: bold;
            text-decoration: underline;
        }
    </style>

</head>

<body>

    <div id="navbar" class="navbar navbar-default" style="display: block">
        <div class="quickLeftDiv">
            <div class="navbar-container navCon">
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <img src="~/images/quickcheck.png" class="mainLogo">


                    </a>

                </div>
            </div>
        </div>
        <div class="quickrightDiv">
            <div>
                <img src="~/images/kotak-bank-logo.png" />
            </div>

        </div>
    </div>
    <div class="forgotCon">
        <form autocomplete="off"  class="form">
            <div class="quickCheckLogin">

                <div class="clearfix">
                </div>
                <div class="login-container">

                    <h1>
                        Reset Password
                    </h1>
                    <div class="inset">
                        <p>

                            <label for="email">
                                Email ID
                            </label>
                            <input name="EmailID" type="text"  class="form-control inputbox" placeholder="" />

                        </p>


                        <p class="backLoginCon">
                            <label id="lblName"></label>
                            <input type="submit" value="Submit" class="loginbtn" />


                            <a href="https://localhost:44331/Login"> <span class="loginBack">Back to Login</span></a>
                        </p>
                    </div>

                </div>

            </div>

        </form>
    </div>
    <div class="clearfix"></div>

    <div class="footer" style="display: block">
        <div class="footer-inner">
            <span class="copyRight">Copyright &copy; 2016-2020 | QuickCheck | All Rights Reserved</span>

        </div>
    </div>
</body>
</html>
