@page
@model QuickZip.Pages.SigninModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signin</title>
</head>
<body>
</body>
</html>
